

.melon-div {
  display: inline-block;
  padding: 15px;
  width: 205px;
}

body {
  background-color: #18917d;
}

h1 {
  color: #861c3f;
  font-family: sans-serif;

}

img {
  height: 200px;
  width: 200px;
}

.title-img {
  display: block;
  border: 3px rgb(46, 48, 173);
  margin-left: auto;
  margin-right: auto;
}


.melon-div img {
  border: solid rgb(236, 233, 22) 3px;
}
